.container {
  background: #f0f0f0;
  color: black;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.notes-list {
  width: 30%;
  background-color: #2d2d2d;
  padding-left: 10px;
  padding-top: 20px;
  color: white;
  overflow-y: auto;
}

.editor {
  width: 70%;
  margin-right: 20px;
  padding: 20px;
  background-color: #fff;
  color: black;
  border-left: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-item {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #444;
  border-radius: 4px;
  color: white;
}

.note-item.active {
  background-color: #8a2be2;
}

.note-item:hover {
  background-color: #555;
}

.note-input {
  width: 100%;
  height: calc(100% - 50px); /* Adjust the height to fit above the button */
  border: none;
  outline: none;
  padding: 10px;
  background-color: #f9f9f9;
  color: black;
  font-size: 16px;
  flex-grow: 1;
  resize: none;
}

button {
  background-color: #8a2be2;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px 0;
  align-self: flex-end;
}

button:hover {
  background-color: #7a1fd1;
}

.new-note-name{
  width: 60%; 
}

.note-creation{
  margin-left: 10%;
  margin-right: 10%;
}

.note-preview h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.note-preview h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 8px;
}

.note-preview ul {
  list-style-type: disc;
  margin-left: 20px;
}

.note-preview ol {
  list-style-type: decimal;
  margin-left: 20px;
}

.note-preview img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

